# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Instance folder
instance/

# Uploads folder
uploads/

# Figures folder
static/figures/

# Environment variables
.env

# macOS
.DS_Store
data/
